<h1>Editing event step</h1>

<%= render "form", event_step: @event_step %>

<br>

<div>
  <%= link_to "Show this event step", @event_step %> |
  <%= link_to "Back to event steps", event_steps_path %>
</div>
